html * {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #e3f4f9;
    font-size: 20px;
    margin: 0px;
}
header img {
    height: 90px;
    width: 160px;
    margin-left: -10px;
}
header {
    background-color: #608eea;
    margin: 0;
    width: 100%;
}
.input[type=text] {
    width: 120px;
    height: 30px;
    position: relative;
    top: -15px;
    font-size: 15px;
    border-radius: 10px;
    border-color: darkgray;
    border-width: 2px;
}

nav {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px 20px 0px 20px;
}
.currentcity {
    position: relative;
    left: 150px;
    top: -25px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #e3f4f9;
    padding: 2px;
    border-radius: 5px;
}
.search {
    position: relative;
    top: -10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #e3f4f9;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    width: 320px;
    padding: 0;
}

ol li a, ol {
    color: aliceblue;
}

.othercities {
    font-size: 15px;
    position: relative;
    top: -30px;
    left: 10px;
    display: inline;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #e3f4f9;
    padding: 1px;
    border-radius: 5px;
    margin: 0px 2px 0px 0px;
}
footer li {
    display: inline;
    font-size: 14px;
}

.cities {
    background-color: #608eea;
    height: 80px;
    margin: 3% 3% 1.5% 3%;
}
.smallh1 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
}
.icon {
    width: 40px;
    top: 0px;
    left: 0;
}
#query {
    width: 60%;
    height: 24px;
    margin-left: 2%;
}
#send {
    width: 20%;
    height: 24px;
    font-size: 14px;
}

.nowicon {
    position: relative;
    left: 60%;
    width: 35%;
    max-width: 175px;
}

.now {
    background-color: #608eea;
    height: 335px;
    margin: 1.5% 3%;
}
.nowS {
    background-color: #608eea;
    height: 600px;
    margin: 1.5% 3%;
}

section h1 {
    font-family: sans-serif;
    font-size: 25px;
    color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
}

.nowp {
    line-height: 1.7;
    color: aliceblue;
    margin: 5% 0 0 5%;
    position: absolute;
    top: 275px;
    max-width: 92%;
}

.wireframesmall {
    width: 100%;
}

a:hover {
    background-color: #ced4dd;
}
.wireframetab {
    display: none;
}

.wireframelarge {
    display: none;
}
@media (min-width: 550px) {
    .wireframesmall {
        display: none;
    }
    .wireframetab {
        width: 100%;
        display: inherit;
    }

    .now {
        background-color: #608eea;
        height: 325px;
        margin: 1.5% 1.5% 1.5% 3%;
        order: 2;
        width: 94%;
        flex-grow: 1;
    }
    .nowS {
        background-color: #608eea;
        height: 600px;
        margin: 1.5% 3%;
    }
    .nowp {
        line-height: 1.7;
        color: aliceblue;
        margin: 5% 0 0 5%;
        position: absolute;
        top: 250px;
    }

    .input[type=text] {
        width: 200px;
        height: 30px;
        position: relative;
        top: -15px;
        right: 10%;
        font-size: 15px;
        border-radius: 10px;
        border-color: darkgray;
        border-width: 2px;
    }
    .search {
        position: relative;
        top: -10px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: #e3f4f9;
        padding: 2px 25px 2px 25px;
        border-radius: 5px;
    }
    #query {
        width: 50%;
        height: 24px;
        margin-left: 2%;
    }
    #send {
        width: 10%;
        height: 24px;
        font-size: 14px;
    }
    .currentcity {
        position: relative;
        left: 150px;
        top: -25px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: #e3f4f9;
        padding: 2px;
        border-radius: 5px;
    }
    .othercities {
        font-size: 15px;
        position: relative;
        top: -30px;
        left: 30%;
        display: inline;
        float: right;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: #e3f4f9;
        padding: 1px;
        border-radius: 5px;
        margin: 0px 2px 0px 0px;
    }
    .nowicon {
        position: relative;
        left: 55%;
        width: 40%;
        max-width: 175px;
    }
}
@media (min-width: 1000px) {
    .wireframelarge {
        width: 100%;
        display: block;
    }
    .wireframetab {
        display: none;
    }

    .cities {
        background-color: #608eea;
        height: 80px;
        margin: 0;
        width: 40%;
        position: absolute;
        top: 0px;
        left: 25%;
    }
    .currentcity {
        position: relative;
        left: 150px;
        top: -25px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: #e3f4f9;
        padding: 2px;
        border-radius: 5px;
    }
    .othercities {
        font-size: 16px;
        position: relative;
        top: -25px;
        left: -30px;
        display: inline;
        float: left;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: #e3f4f9;
        padding: 2px;
        border-radius: 5px;
        margin: 0 10px;
    }
    .smallh1 {
        font-family: sans-serif;
        font-size: 22px;
        padding-top: 10px;
        padding-left: 10px;
    }
    ul {
        width: 500px;
    }
    #query {
        width: 40%;
        height: 24px;
        margin-left: 2%;
    }
    #send {
        width: 10%;
        height: 24px;
        font-size: 14px;
    }
    .now {
        background-color: #608eea;
        height: 315px;
        margin: 3% 0% 1.5% 3%;
        width: 94%;
        order: 1;
    }
    .nowS {
        background-color: #608eea;
        height: 600px;
        margin: 1.5% 3%;
    }
    .nowp {
        position: absolute;
        top: 130px;
        left: 1%;
        line-height: 1.7;
        color: aliceblue;
    }
    .nowicon {
        position: relative;
        left: 55%;
        width: 45%;
        max-width: 175px;
    }
}
