#wrapper {
    display: flex;
    flex-wrap: wrap;
}
#page-header {
    padding-left: 40%;
    width: 100%;
    background-color: deepskyblue;
}
.row {
    display: flex;
    width: 100%;
}
.page-nav {
    height: 400px;
    width: 20%
    background-color: azure;
}
main {
    background-color: cornsilk;
    width: 50%;
}
#page-aside {
    background-color: aliceblue;
    width: 30%;
}
#page-footer {
    background-color: cornflowerblue;
    padding-left: 40%;
    width: 100%;
}
